<section class="animated-background">
    <div id="stars1"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</section>
<a id="profilePicture" href="#popup">
    <img src="./assets/images/profile.png" alt="Profile Picture">
</a>

<div class="overlay" id="popup">
    <div class="popup">
        <div class="popup-photo">
            <a href="./assets/images/profile.png" target="_blank">
            </a>
        </div>
        <div class="popup-quote">
            One must still have chaos in oneself to be able to give birth to a dancing star
        </div>
        <a class="popup-close" onclick="history.back()">&times;</a>
    </div>
</div>

<div id="userName">
    @eman2XR
</div>

<div id="links">
    <!-- <a class="link" href="https://www.worldbank.org/" target="_blank"><i
        class="fas fa-globe">&nbsp;</i>The World Bank</a>
    
    <a class="link" href="https://xrtemplates.com/" target="_blank"><i
        class="fab fa-xr">&nbsp;</i>XR Templates</a> -->
    
    <a class="link" href="https://www.linkedin.com/in/hakimdanial/" target="_blank"><i
        class="fab fa-linkedin">&nbsp;</i>Linkedin</a>
  
    <a class="link" href="https://github.com/hakimdaniall" target="_blank"><i
        class="fab fa-github">&nbsp;</i>Github</a>
    
    <a class="link" href="https://dummy-json-ecommerce.netlify.app/" target="_blank"><i
        class="fab fa-twitter">&nbsp;</i>Dummy JSON eCommerce</a>

    <a class="link" href="https://mirror-pseudo-el.netlify.app/" target="_blank"><i
        class="fa fa-paint-brush">&nbsp;</i>Mirror Swiper</a>

    <a class="link" href="https://lamp-not-responsive.netlify.app/" target="_blank"><i
        class="fab fa-wordpress">&nbsp;</i>VueLamp (Not responsive)</a>

    <a class="link" href="https://devhakim-random-stuff.netlify.app/" target="_blank"><i
        class="fab fa-wordpress">&nbsp;</i>Random Stuff ReactJS</a>
</div>

<div id="hashtag">
    ***
</div>
